
.logo {
  width: 100px;
  height: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.form {
  margin: 30px;
  padding: 15px;
  background: #dedede;
  border-radius: 5px;
}
.ion-label {
  background: 'transparent';
}

.cert {
  background: 'transparent';
  padding-Bottom: 20px;
  --background: 'transparent';
 
}

.login-input {
  --background: #dedede;
  --color: #222428;
}

.header {
  --background: #fff;
  padding-left: 10px;
  border-bottom: 1px solid #0090d4;
}

.quest {
  background: #dedede;
  color: #fff;
  width: 45%;
  margin: 0 auto;
}

.dark {
  --background: #053359;
  --color: #ededed;
}

.light {
  --background: #ededed;
  --color: #053359;
}

.section-bg {
  --background: #e3e3e3;
}

.ion-content {
  --background: red;
}

.margin {
  margin: 20px;
}

.padding {
  padding: 20px;
}

.h1 {
  margin: 20px;
  text-align: center;
}

.menu-tabs {
  --background: #053359;
  z-index: 10000000;
  --z-index: 10000000;
  border-top: #0090d4 1px solid;
}

.tabby {
  --background: #053359;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-child {
  flex: 1;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}

.card {
  background: #e3e3e3;
}

.blue-gradient {
  background: rgb(21,0,255);
  background: linear-gradient(90deg, rgba(21,0,255,1) 0%, rgba(105,103,255,1) 12%, rgba(255,255,255,1) 100%); 
}

.card-header {
  color: #ededed;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.card-content {
  color: #053359;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.level {
  background: #00cc00;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: #e3e3e3;
}

.stat-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 6px;
}

.stat-container {
  height: 80px;
}

.stat-label {
  text-align: center;
  font-size: 14px;
}

.nav-button {
  text-align: center;
}

.select-label {
  --background: #ededed;
  --color: #000026;
}

.select-label .popover-content {
  --background: #ededed;
  left: 0px;
}

.select-label .popover-content.sc-ion-popover-md-h {
  width: 80%;
}

.select-label .list-md  {
  background: #ededed;
}

.sc-ion-select-popover-h ion-list.sc-ion-select-popover {
  background: #ededed;
}

.radio-icon {
  background: rgb(21,0,255);
  background: linear-gradient(90deg, rgba(21,0,255,1) 0%, rgba(105,103,255,1) 12%, rgba(255,255,255,1) 100%); 
}

.select-label .in-item  {
	--max-width: 75%;
}

.portfolio-item {
  display: flex;
  justify-content: space-between;
}

.portfolio-item div {
  flex: 1;
}

.list-header {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
  color: #053359;
}

.text-align-right {
  text-align: right;
}

.anchor-button {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #4DAFFF;
  border-radius: 4px;
  color: #ededed;
  border-radius: 6px;
}

.bg-and-text {
  --color: #d7d7d7;
  --background: #053359;
  background: #053359;
  --border-color: #0090d4;
  padding: 10px 0px;
}

.bg-and-text.no-border {
  --border-color: transparent;
  border-bottom: 1px solid #0090d4;
}

.fund-container {
  padding: 4px;
  border-bottom: 1px solid #0090d4;
}

.learn-more {
  text-decoration: none;
  padding: 10px;
  background: #2fb982;
  color: #ededed;
  font-weight: bold;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.invest {
  text-decoration: none;
  padding: 10px;
  background: #0090d4;
  color: #ededed;
  font-weight: bold;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.fund-header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.fund-row {
  margin: 10px 0px;
}

/* ion-col{
  pointer-events:all!important;
} */

.nav-toolbar-item:hover {
  background: #33a0ff;
  color: #053359;
}

.str-chat__header-livestream-left, .str-chat__textarea__textarea {
  color: #053359;
}

.str-chat {
  height: calc(100vh - 121px) !important;
}

.str-chat-channel-list--open.messaging {
  margin-top: 4px;
  margin-left: 4px;
}

.menu-page {
  background: #ededed;
  color: #053359;
}

.menu-page .item {
  --background: #ededed;
  --color: #053359;
}

@media (max-width: 800px) {
  #main {
    margin: 0;
    border-radius: 0px;
  }
}

.docs-list {
  background: #053359 ;
  margin-bottom: 20px;
  padding-bottom: 0px;
  width: 100%;
}

.docs-list ion-list-header {
  color: #d7d7d7;
  font-size: 22px;
}

.dotted-line {
  border-bottom: dotted 1px #ededed;
  width: 100%;
  margin-top: 10px;
}

.section-header {
  width: 100%;
  padding: 0px 10px;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
}

.section-header h3 {
  flex: 1;
  margin: 10px 5px;
}

.align-right {
  text-align: right;;
}

.ion-page {
  max-width: 800px;
  margin: auto;
}

.login-input {
  --background: #053359;
  color: #d7d7d7;
  text-align: center;
  border-bottom: 1px solid #0090d4;
  width: 60%;
  margin: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 28px #053359 inset !important;
  box-shadow: 0 0 0 28px #053359 inset !important;
}

.label-floating.sc-ion-label-md-h  {
  margin-bottom: 5px;
}

.slide-buttons > * {
  display: inline-block;
  width: 48%;
} 

.alert-wrapper.sc-ion-alert-md, .alert-wrapper.sc-ion-alert-ios {
  min-width: 60%;
}

.div-row {
  padding: 10px;
  width: 100%;
}

.div-row.b-bottom {
  border-bottom: 1px solid #0090d4;
}

.div-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.raf-activity__content p {
  color: #000;
}

.raf-user-bar {
  padding: 10px;
}

.loader {
  height: 50px;
  width: 50px;
  color: red;
  top: 50%;
  left: 50%;
  position: absolute;
}

.user-detail-bar {
  display: flex;
}

.user-detail-bar .section {
  flex: 1;
  border-bottom: 1px solid #0090d4;
  padding-bottom: 16px;
}

.button-solid {
  --background: none;
  --box-shadow: none;
  border: 1px solid #4DAFFF;
  border-radius: 4px;
}

/* @media screen and (max-width: 1800px) {
  .str-chat-channel-list.messaging, .str-chat-channel-list.team, .str-chat-channel-list.commerce {
      position: fixed;
      left: -380px;
      top: 0;
      z-index: 1001;
      min-height: 100vh;
      overflow-y: auto;
      box-shadow: 7px 0 9px 0 rgb(0 0 0 / 3%), 1px 0 0 0 rgb(0 0 0 / 3%);
      transition: left 200ms ease-in-out;
  }

  .messaging.str-chat .str-chat__header-livestream {
    padding-left: 20px;
    padding-right: 20px;
  }

  .str-chat__header-hamburger {
    display: flex;
  }
} */


.str-chat.str-chat-channel-list.str-chat-channel-list--open {
  width: 100%;
  margin: 0;
  margin-top: 54px;
}

.str-chat.str-chat-channel-list.str-chat-channel-list--open
  .str-chat__channel-preview-messenger--active {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.full-page-loading {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
